@model _04___MVC_Pasar_datos_a_controlador.Models.ViewModels.ClsPersonaConNombreDepartamento

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PersonaModificada</title>
</head>
<body>
    <h1>Tus datos:</h1>
    Nombre: @Model.nombre <br />
    Apellidos: @Model.apellidos <br />
    Fecha de Nacimiento: @Model.fechaNac <br />
    Dirección: @Model.direccion <br />
    Teléfono: @Model.telefono <br />
    Departamento: @Model.nombreDepartamento

</body>
</html>
